<div class="bg">
<%= render "layouts/forms_nav" %>
<div class="sign-in-styles">
<h1 class="glitch-small" data-text="FORGOT?">Forgot?</h1>
<div class="subtext">Forgot your password?</div>
</br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="btn-1">
    <%= f.submit "Send" %>
  </div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
</div>
</div>
