<div class="bg4">

</div>

<div class="bg2">

</div>

<%= render "layouts/nav" %>
<p id="notice"><%= notice %></p>

  <div class="wrapper">
    <div class="products">
<div class="feed-grid">
              <% @categories.each do | category| %>
              <br/>
        <div class="categories"><%= category.name %></div>
        <br/>
<% category.products.each do |product| %>
<div class="card">
<%=image_tag(product.image )%>
<div class="info-center"><%=link_to product.title , product_path(product)%>
<br/>
<div class="price"><br/><%= number_to_currency(product.price/100.0) %> </div>
</div>
</div>

<% end %>
<br>
<% end %>
      </div>
    </div>
    </div>

  </div>
