<h1 class="glitch-small" data-text="DISRUPT.">DISRUPT.</h1>
    <nav>
      <% if user_signed_in? %>
        <p

        class="text" data-text="Welcome">Welcome, <%= current_user.email %>  |
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </p>
        <hr>
      <% end %>
      <%= link_to "Home", root_path , class: "nav-btn" %>
      <%= link_to "Sell", new_product_path, class: "nav-btn" %>
      <%= link_to "Buy", products_path, class: "nav-btn" %>
      <%= link_to "My Orders", my_orders_path, class: "nav-btn" %>
      <%= link_to "About", about_path, class: "nav-btn" %>
      <%= link_to "Contact", contact_path, class: "nav-btn" %>



    </nav>
