<!DOCTYPE html>
<html>
  <head>
    <title>MarketplaceProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <script defer  src="https://checkout.stripe.com/checkout.js"></script>
  </head>

  <% if current_page?(root_url) %>
    <%= render "layouts/forms_nav" %>
  <% elsif current_page?(controller: 'devise/sessions', action: 'new') %>
    <%= render "layouts/forms_nav" %>
  <% elsif current_page?(controller: 'devise/passwords', action: 'new') %>
    <%= render "layouts/forms_nav" %>
  <% elsif current_page?(controller: 'devise/registrations', action: 'new') %>
    <%= render "layouts/forms_nav" %>
  <% else %>
    <%= render "layouts/nav" %>
<% end %>

  <body>
  
    <%= yield %>

  </body>
</html>
